@import url(./App.css);


/* ──────────────── Core Body & Layout ──────────────── */
.agneya-website-body {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

*{
font-family: "PT Serif", serif;
}

/* main {
  flex: 1;
  width: 100%;
} */











